hr {
    width: 700;
    color: #00eeff;
    size: 10px;
    border-radius: 7px;
}
.Numbered_List {
    font-size: 16px;
    font-weight: bold;
}

.network {
    background: #ffffff;
    border-radius: 7px;
    height: 30px;
    line-height: 30px;
    max-width: 900;
}
menu {
    list-style: none;
}
menu li {
    display: inline-block;
    padding: 0 25px;
    background: #000000;
    height: 30px;
    margin: 0 -2px;
    border-right: solid 2px #959591;
}
menu li:first-child {
    border-left: solid 2px black;
}
menu li:hover {
    background: #9c9797e3
}
menu li a {
    display: inline-block;
    height: 30px;
    color: #ffffff;
    text-decoration: none;
}
menu li a:hover {
    color: #ededed;
    text-decoration: underline
}


.HomeWork ul {
    font: bold 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  .HomeWork li {
    display: inline-block;
  }
  .HomeWork a {
    color: #626262;
    padding: 10px 30px;
    text-decoration: none;
  }
  .HomeWork a:hover {
    background: #ffffff;
    box-shadow: inset 0 0 5px 1px #ded6d6;
  }