.nav-section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 28px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, .9)), to(rgba(243, 129, 129, .9))), url("../images/background/background.jpg") center no-repeat;
  background: -webkit-linear-gradient(bottom, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), url("../images/background/background.jpg") center no-repeat;
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), url("../images/background/background.jpg") center no-repeat;
  background: linear-gradient(to top, rgba(252, 227, 138, .9) 0%, rgba(243, 129, 129, .9) 100%), url("../images/background/background.jpg") center no-repeat;
}