@media screen and (min-width: 320px) and (max-width: 425px) {
  .partner-section,
  header {
    width: 100%;
  }

  .logo {
    padding-top: 84px;
    letter-spacing: 0.05rem;
    padding-bottom: 28px;
  }

  .promo-info p {
    width: 240px;
  }
}

@media screen and (min-width: 768px) {
  body {
    background: #1a1915 url("../img/background_tablet_cover_photo.png")
      no-repeat top left;
  }
  main {
    padding-bottom: 38px;
  }

  /*HEADER*/
  header {
    width: 768px;
    height: 700px;
  }


  .site-navigation {
    padding-top: 0;
  }

  .promo-info {
    padding: 132px 0 0;
  }

  .promo-info h2 {
    font-size: 52px;
    line-height: 62px;
  }

  .promo-info + p {
    font-size: 24px;
  }

  /*CONTENT-PAGE*/
  .partner-section {
    width: 492px;
    /* width: 960px; */
  }

  .partner-section h2 {
    margin-bottom: 30px;
  }

  .partner-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 492px;
    margin-bottom: 14px;
    max-width: 560px;
  }

  .partner-list-item:nth-child(2) {
    order: 2;
  }
  .partner-list-item:nth-child(3) {
    order: 1;
  }
  .partner-list-item:nth-child(4) {
    order: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 788px) {
  header {
    width: 100%;
  }

  .logo {
    line-height: 42px;
  }
}

@media screen and (min-width: 940px) {
  body {
    background: #1a1915 url("../img/background_desktop_cover_photo.png")
      no-repeat top;
  }
  main {
    padding-bottom: 72px;
  }

  header,
  .page-header,
  .partner-list {
    width: 940px;
  }

  .logo {
    line-height: 42px;
  }

  .partner-list-item {
    width: 220px;
  }
}

@media screen and (min-width: 940px) {
  header,
  .partner-section,
  .partner-list {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  body {
    background-size: contain;
  }
}
